@charset "utf-8";


@media screen and (min-width:768px) {
  main {
    max-width: 300px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 80px;
  }

  .title,
  main p,
  input[type=text],
  input[type=password] {
    font-size: 24px;
  }

  input[type=text],
  input[type=password] {
    height: 32px;
  }


  .item {
    margin-bottom: 40px;
  }

  .item:last-of-type {
    margin-bottom: 80px;
  }

  .expiry input[type=text] {
    width: 13%;
    padding-right: 5px;
  }

  .expiry input[type=text]:last-of-type {
    width: 23%;
  }

  input[type=submit] {
    padding: 20px 60px;
    font-size: 20px;
  }

  .button {
    width: 300px;
  }

  .back {
    font-size: 16px;
  }

}