@charset "utf-8";

body {
  margin: 0 auto;
}

.breadcrumbs {
  text-align: left;
}

.guest_name_area {
  padding: 12px 20px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
}

/* 商品の枠 */
.merchandise_area {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 商品画像 */
.merchandise_image {
  width: 90vw;
  margin-bottom: 20px;
  text-align: center;
}


/* 商品名 */
.merchandise_name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: 20px;
}

/* 商品の値段 */
.price {
  color: #BF0000;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: 20px;
}

/* 商品の個数 */
.count {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
}

/* 削除する */
.delete {
  padding-bottom: 4px;
  color: #7F5539;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  border-bottom: 0.5px solid #7F5539;
}

.confirm_window {
  align-items: center;
  width: 90vw;
  border: 3px solid #FFD233;
  padding: 20px 20px;
  margin: 20px 30px;
}

.shopping_confirm {
  width: 42.6vw;
  height: 36px;
  border: 1px solid #BF0000;
  background-color: #BF0000;
  color: #fff;
  margin-bottom: 30px;
}

.continue {
  width: 42.6vw;
  height: 36px;
  border: 1px solid #7F5539;
  background-color: #7F5539;
  color: #fff;
}

@media screen and (min-width:768px) {
  .guest_name_area {
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
  }
}