@charset "utf-8";

.breadcrumbs {
  text-align: left;
}

.guest_name_area {
  padding: 12px 20px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
}

.cart_input {
  padding: 24px 20px;
  font-size: 12px;
  color: #333;
}

.merchandise_area {
  padding: 0 20px 70px;
  text-align: center;
}

.merchandise_name {
  margin-bottom: 20px;
  font-weight: 600;

}

.price {
  margin-bottom: 16px;
  color: #BF0000;
}

.count {
  margin-bottom: 16px;
  color: #333;
}

.delete_btn {
  padding-bottom: 4px;
  border-bottom: 0.5px solid #7F5539;
}

.confirm_window {
  height: 148px;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  border: 2px solid #FFD233;
}

.confirm_window p {
  margin: 38px 0 20px;
  font-size: 16px;
  font-size: 500;
}


.shopping_confirm {
  height: 36px;
  padding: 12px 32px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
  color: #fff;
  background-color: #BF0000;
}

.shopping_btn {
  padding: 12px 38px;
  margin: 40px auto 100px;
  width: 160px;
  color: #fff;
  background-color: #7F5539;
  font-size: 12px;
  text-align: center;
}


@media screen and (min-width:768px) {
  .guest_name_area {
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
  }
}