@charset "utf-8";

/* header  */
header {
  background: #fff;
  height: 102px;
}

.header_inner {
  padding: 0;
  display: block;
  height: 100%;
}

.header_nav {
  display: none;
}

.login_nav {
  display: none;
}

.search_design {
  display: none;
}

h1 {
  left: 12%;
  top: 15%;
}

/* design */
main {
  color: #7F5539;
  max-width: 295px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 52px;
}

div {
  margin-bottom: 20px;
}

div:last-of-type {
  margin-bottom: 40px;
}

.title {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: 8px;
}

.confirm {
  border-left: 1px solid #7F5539;
  font-size: 12px;
  color: #333;
  padding-left: 4px;
  height: 20px;
}

input[type=submit] {
  background-color: #7F5539;
  color: #fff;
  padding: 16px 28px;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  margin-left: 15%;
  margin-bottom: 5px;
}

.error {
  color: #bf0000;
  font-size: 12px;
}

.back {
  font-size: 12px;
  text-align: center;
  margin-bottom: 80px;
  text-decoration: underline #7F5539;
}