@charset "utf-8";

body {
  max-width: 100%;
  margin: 0 auto;
}

.guest_name_area {
  /* padding: 12px 20px; */
  padding-top: clamp(12px, 1.5vw + 6px, 24px);
  /* padding-bottom:12pxの方が適切 */
  padding-bottom: clamp(12px, 1.5vw + 6px, 24px);
  padding-left: clamp(20px, 5vw, 103px);

  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
}

/* vwに直すのもあり */
.hero_sp {
  /* width: 375px; */
  /* width: clamp(375px, 40vw, 1200px); */
  /* height: 200px; */
  /* max-width: 1200px; */
  width: 100vw;
  /* 画面幅いっぱい */
  /* height: clamp(200px, 30vw, 593px); */
  max-height: 593px;
  /* height: 100vh;   画面高さいっぱい */
  object-fit: cover;
  /* 比率を保ちながらトリミング */
}


.content1 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /* padding: 20px; */
  margin: 0;
  justify-content: center;
  margin-top: clamp(19px, 6vw, 80px);
  
}

.forseal_container {
  position: relative;

}

.image-content1 {
  /* display: flex; */
  flex-wrap: wrap;
  width: 42vw;
  height: 42vw;
  /* margin: 20px; */
  position: relative;
  margin-right:clamp(19px, 3vw, 40px);
  


}

.image-content2 {
  display: flex;
  flex-wrap: wrap;
  width: 42vw;
  height: 42vw;
  /* margin: 20px; */
}

.new-products-icon {
  width: 10.6vw;
  height: 10.6vw;
  position: absolute;
  top: 1.3vw;
  left: 1.3vw;
}

.content_text {
  position: absolute;
  bottom: 1.3vw;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3vw;
  line-height: 1;
  font-weight: bold;
}

.content_text2 {
  position: absolute;
  bottom: 1.3vw;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3vw;
  line-height: 1;
  font-weight: bold;
}

.forlife_container {
  position: relative;
}

.list_container {
  position: relative;
  justify-content: center;
  margin-top: clamp(20px, 3vw, 40px);
  text-align: center;
  
}

.product-list {
  width: 87.33vw;
  /* max-width: 1040px; */
  height: 22.13vw;
  /* margin: 20px; */
  justify-content: center;
  /* margin: 0; */
  /* width:clamp(375px, 89vw, 1200px); */
  margin-bottom: clamp(20px, 6vw, 80px);
}

.list_text1 {
  position: absolute;
  bottom: 5px;
  right: 5.3vw;

  color: #7f5539;
  font-size: 3.2vw;
  line-height: 1;
  font-weight: bold;
}

.philosophy_container {
  position: relative;
}


.philosophy {
  width: 100%;
  /* height: 568px; */
  max-height: 568px;
  /* margin-bottom: 32px; */
  /* position: relative; */
  margin-bottom: clamp(32px, 5vw, 80px);

}

.philosophy_text1 {
  position: absolute;
  /* top: 100px; */

  font-size: 24px;
  line-height: 1;
  font-weight: black;
  color: #ffffff;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.philosophy_text2 {
  position: absolute;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 1;
  font-weight: medium;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.philosophy_text3 {
  position: absolute;
  color: #ffffff;
  font-size: 20px;
  line-height: 1;
  font-weight: medium;
  white-space: nowrap;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.philosophy_text4 {
  position: absolute;
  color: #ffffff;
  font-size: 16px;
  line-height: 1;
  font-weight: medium;
  white-space: nowrap;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-size: clamp(20px, 2vw + 8px, 32px); /* 可変フォント */
  line-height: 1;
  font-weight: bold;
  color: black;
  padding-bottom: 10px;
  display: inline-block; /* 中央寄せのためにブロック化 */
  margin: 0 auto;
  text-align: center;
  white-space: nowrap; /* 折り返し防止 */
  position: relative; /* 疑似要素の基準位置 */
}

h2::after {
  content: "";
  display: block;
  width: calc(100% + 20px); /* 文字幅より20px長く */
  height: clamp(4px, 0.5vw + 2px, 8px); /* クランプで太さ調整 */
  background-color: #ffd233;
  position: absolute;
  left: -10px; /* 左右均等に広げるためのオフセット */
  bottom: 0; /* 文字の真下に配置 */
}


.rank_number1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #FFD233;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
  /* 適当 */
  font-size: 1.2rem;
  /* 適当 */
}

.rank_number2 {
  display: inline-flex;
  justify-content: center;
  /* 横方向の中央揃え */
  align-items: center;
  /* 縦方向の中央揃え */
  width: 35px;
  /* 横幅 */
  height: 35px;
  /* 縦幅 */
  background-color: #e8c2ca;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.donuts_image {
  width: 158px;
  height: 158px;

}


.list_text {
  font-weight: medium;
  font-size: 16px;
  line-height: 1.6;
  color: #7f5539;
  margin: 22px 0;

  width: 158px;
}

.list_price {
  font-size: 16px;
  line-height: 1;
  color: #bf0000;
  display: inline-block;

  margin-right: 8vw;
  /*spacebetween効かないから適当に入れた*/
}

.heart-mark {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.in_cart {
  width: 158px;
  height: 36px;
  font-size: 12px;
  line-height: 1;
  color: #ffffff;
  background-color: #7f5539;
  display: inline-flex;
  /* インラインで使えて中央揃えもOK */
  justify-content: center;
  /* 横方向の中央揃え */
  align-items: center;
  margin-top: 22.3px;
}

.price-container {
  display: flex;
  /* インライン要素でも使えるフレックス */
  align-items: center;
  /* 縦方向の中央揃え */
  /* width: 100%; */
  justify-content: space-between;
}



.rank_container {
  margin: 72px 10px 80px 20px;
  display: flex;
  flex-direction: column;
  /* 縦方向に並べる */
  align-items: center;
  /* 中央揃えにしておくと綺麗 */
  justify-content: space-around;
}

.rank_container2 {
  margin: 72px 10px 80px;
  display: flex;
  flex-direction: column;
  /* 縦方向に並べる */
  align-items: center;
  /* 中央揃えにしておくと綺麗 */
  justify-content: space-around;
}



.container-wrapper {
  display: flex;
}




@media screen and (min-width: 768px) {
  body {
    /* max-width: 1366px; */
    width: 100%;
  }

  .guest_name_area {
    margin: 0 auto;
    /* width: 1200px; */
    max-width: 100%;
  }

  .philosophy_text1 {
    position: absolute;
    /* top: 100px; */
    font-size: 36px;
    line-height: 1;
    font-weight: black;
    color: #ffffff;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .philosophy_text2 {
    position: absolute;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    line-height: 1;
    font-weight: medium;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .philosophy_text3 {
    position: absolute;
    color: #ffffff;
    font-size: 24px;
    line-height: 1;
    font-weight: medium;
    white-space: nowrap;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .philosophy_text4 {
    position: absolute;
    color: #ffffff;
    font-size: 24px;
    line-height: 1;
    font-weight: medium;
    white-space: nowrap;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}