@charset "utf-8";

body {
  max-width: 100%;
  margin: 0 auto;
}

.guest_name_area {
  padding: 12px 20px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
}

/* vwに直すのもあり */
.hero_sp {
  width: 375px;
  height: 200px;
}

.content1 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 20px;
}

.forseal_container {
  position: relative;

}

.image-content1 {
  /* display: flex; */
  flex-wrap: wrap;
  width: 158px;
  height: 158px;
  /* margin: 20px; */
  position: relative;
  margin-right: 19px;
}

.image-content2 {
  display: flex;
  flex-wrap: wrap;
  width: 158px;
  height: 158px;
  /* margin: 20px; */
}

.new-products-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.content_text {
  position: absolute;
  bottom: 5px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
}

.content_text2 {
  position: absolute;
  bottom: 5px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
}

.forlife_container {
  position: relative;
}

.list_container {
  position: relative;
  margin: 20px;
}

.product-list {
  width: 335px;
  height: 83px;
  /* margin: 20px; */

}

.list_text1 {
  position: absolute;
  bottom: 5px;
  right: 20px;

  color: #7f5539;
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
}

.philosophy_container {
  position: relative;
}


.philosophy {
  width: 375px;
  height: 568px;
  margin-bottom: 32px;
  /* position: relative; */
}

.philosophy_text1 {
  position: absolute;
  /* top: 100px; */

  font-size: 24px;
  line-height: 1;
  font-weight: black;
  color: #ffffff;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.philosophy_text2 {
  position: absolute;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 1;
  font-weight: medium;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.philosophy_text3 {
  position: absolute;
  color: #ffffff;
  font-size: 20px;
  line-height: 1;
  font-weight: medium;
  white-space: nowrap;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.philosophy_text4 {
  position: absolute;
  color: #ffffff;
  font-size: 16px;
  line-height: 1;
  font-weight: medium;
  white-space: nowrap;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  width: 152px;
  /* margin: auto; */
  /* 絶対ずれるから気を付けて */
  margin-left: 30vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  color: black;
  padding-bottom: 6px;
  /* display: inline-block;  */
  color: black;
  border-bottom: 4px solid #ffd233;
}

.rank_number1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #FFD233;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
  /* 適当 */
  font-size: 1.2rem;
  /* 適当 */
}

.rank_number2 {
  display: inline-flex;
  justify-content: center;
  /* 横方向の中央揃え */
  align-items: center;
  /* 縦方向の中央揃え */
  width: 35px;
  /* 横幅 */
  height: 35px;
  /* 縦幅 */
  background-color: #e8c2ca;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.donuts_image {
  width: 158px;
  height: 158px;

}


.list_text {
  font-weight: medium;
  font-size: 16px;
  line-height: 1.6;
  color: #7f5539;
  margin: 22px 0;

  width: 158px;
}

.list_price {
  font-size: 16px;
  line-height: 1;
  color: #bf0000;
  display: inline-block;

  margin-right: 8vw;
  /*spacebetween効かないから適当に入れた*/
}

.heart-mark {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.in_cart {
  width: 158px;
  height: 36px;
  font-size: 12px;
  line-height: 1;
  color: #ffffff;
  background-color: #7f5539;
  display: inline-flex;
  /* インラインで使えて中央揃えもOK */
  justify-content: center;
  /* 横方向の中央揃え */
  align-items: center;
  margin-top: 22.3px;
}

.price-container {
  display: flex;
  /* インライン要素でも使えるフレックス */
  align-items: center;
  /* 縦方向の中央揃え */
  /* width: 100%; */
  justify-content: space-between;
}



.rank_container {
  margin: 72px 10px 80px 20px;
  display: flex;
  flex-direction: column;
  /* 縦方向に並べる */
  align-items: center;
  /* 中央揃えにしておくと綺麗 */
  justify-content: space-around;
}

.rank_container2 {
  margin: 72px 10px 80px;
  display: flex;
  flex-direction: column;
  /* 縦方向に並べる */
  align-items: center;
  /* 中央揃えにしておくと綺麗 */
  justify-content: space-around;
}



.container-wrapper {
  display: flex;
}




@media screen and (min-width: 768px) {
  body {
    max-width: 1200px;
  }

  .guest_name_area {
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
  }
}