@charset "utf-8";

body {
  max-width: 100%;
  margin: 0 auto;
}

/* 商品一覧 */
main {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

/* タイトル　商品一覧 */
h2 {
  font-size: 20px;
  line-height: 1;
  padding-bottom: 8px;
  color: #333;

  /* 黄色下線 */
  width: 100px;
  border-bottom: 4px solid #ffd233;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 32px;
}

/* タイトル　バラエティセット */
h3 {
  font-size: 16px;
  line-height: 1;
  padding-bottom: 8px;
  color: #7F5539;

  /* 黄色下線 */
  width: 160px;
  border-bottom: 4px solid #ffd233;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;
}

/* 縦、左側の列のそれぞれの箱 */
/* ※画像～カートに入れるまでのところ */
.product_container {
  margin-bottom: 80px;
}


/* 縦、右側の列のそれぞれの箱 */
/* ※画像～カートに入れるまでのところ */
.product_container2 {
  margin-bottom: 80px;
}

/* SP版ドーナツ画像 */
.donuts_image {
  width: 158px;
  height: 158px;
}

/* 商品名 */
.list_text {
  font-weight: medium;
  font-size: 16px;
  line-height: 1.6;
  color: #7f5539;
  margin: 22px 0;
  width: 158px;
}

/* 商品金額の税込み～ハートまでの箱 */
.price-container {
  display: flex;
  /* インライン要素でも使えるフレックス */
  align-items: center;
  /* 縦方向の中央揃え */
  justify-content: space-between;
}

/* 商品金額 */
.list_price {
  font-size: 16px;
  line-height: 1;
  color: #bf0000;
  display: inline-block;
  margin-right: 8vw;
}

/* ハートマーク */
.heart_mark {
  width: 20px;
  height: 20px;
  display: inline-block;
}

/* カートに入れる  */
/* <!-- ↓10章ｐ152　cssは183　sendボタン --> */
.submitBtn {
  text-align: center;
}

input[type="submit"] {
  width: 158px;
  height: 36px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  background: #7f5539;
  margin-top: 22px;
}

/* バラエティセット */
.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width:768px) {
  body {
    max-width: 1200px;
  }
}