@charset "utf-8";

/* header  */
header {
  background: #fff;
  height: 102px;
}

.header_inner {
  padding: 0;
  display: block;
  height: 100%;
}

.header_nav {
  display: none;
}

.login_nav {
  display: none;
}

.search_design {
  display: none;
}

/* ロゴ画像 */
h1 {
  left: 13%;
  top: 3%;
}

/* ご購入確認 */
h2 {
  color: #7F5539;
  /* font-size: 20px; */
  font-size: clamp(20px, 3vw, 32px);

  font-weight: 400;
  line-height: 1;
  margin: 20px 0 72px;
  text-align: center;
}

/* ご購入商品 */
h3 {
  color: #7F5539;
  /* font-size: 12px; */
  font-size: clamp(12px, 2vw, 24px);
  font-weight: 400;
  line-height: 1;
  margin-bottom: clamp(20px, 5vw, 60px);
  margin-top: clamp(20px, 5vw, 60px);
  text-align: center;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  /* color: #59342E; */
  /* background-color: #FDF9F5; */
  margin: 0;

}

/* .container, */
.section {
  margin: 5.33vw;
  width: 89.3vw;
  max-width: 723px;
  text-align: center;
}

.container {
  margin: auto;
  /* padding: 0 20px;
  max-width: 1200px; */
  /* background-color: #FDF9F5; */
}


/* h1, h2 {
  margin: 10px 0;
  font-weight: bold;
} */

/* .section {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #D1B8A2;
  border-radius: 8px;
  background-color: #FFFFFF;
} */

.product,
.total {
  display: flex;
  /* justify-content: space-between; */
}

.label {
  /* font-weight: bold;
  margin-right: 5px; */
  color: #7F5539;
  /* font-size: 12px; */
  font-size: clamp(12px, 2vw, 24px);
  font-weight: 400;
  line-height: 1;
  margin: 12px 0;
  /* display: inline-block;*/
  width: 14vw;
  white-space: nowrap; 
}

.include_tax {
  color: #333333;
  /* font-size: 12px; */
  font-size: clamp(12px, 2vw, 24px);
  font-weight: bold;
  line-height: 1;
  /* margin: 12px 0 12px 12px; */
  width: 275px;

  /* display: inline-block; */

  /* padding-left: 5px; */
}

.include_tax::before {
  content: "";
  /* position: absolute; */
  left: 0;
  top: 10%;
  /* 上から10%の位置に配置 */
  height: 80%;
  /* 線の長さを80%に */
  /* width: 2px; */
  /* background-color: #BF0000; */
  border-left: #e8c2ca 2px solid;
  margin-right: clamp(12px, 2vw, 20px);
}

.product-row {
  border-top: 1px solid #e8c2ca;
  border-bottom: 1px solid #e8c2ca;
  margin-top: clamp(20px, 5vw, 40px);
  margin-bottom: clamp(20px, 5vw, 40px);

}

.total_table {
  border-top: 1px solid #e8c2ca;
  border-bottom: 1px solid #e8c2ca;

}

.value {
  color: #333333;
  /* font-size: 12px; */
  font-size: clamp(12px, 2vw, 24px);
  font-weight: 400;
  line-height: 1;
  text-align: left;
}

/* hr {
  border: 0;
  border-top: 1px solid #D1B8A2;
  margin: 10px 0;
} */

.purchase-button {
  margin: 20px 0 80px 0;
}

.no-payment {

  margin: 12px 0;
}

.no-payment p {
  color: #bf0000;
  font-size: clamp(12px, 2vw, 24px);
  font-weight: 400;
  line-height: 1.5;
  margin: 20px 0 40px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 20px 0 16px;
}

.purchase-button {
  text-align: center;
}

button {
  padding: 16px 20px;
  background-color: #59342E;
  color: white;
  border: none;
  cursor: pointer;
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 400;
  line-height: 1;
  width: 53.33vw;
  max-width: 300px;
  height: 12.8vw;
  max-height: 60px;
  text-align: center;

}

button:hover {
  background-color: #40251E;
}

.product-table,
.address-table,
.payment-table
 {
  margin: 10px auto;
  max-width: 400px;
  border-top: 1px solid #e8c2ca;
  border-bottom: 1px solid #e8c2ca;
}
.section{
  margin: 0 auto;
  
}
table {
  width: 100%;
  /* border-collapse: collapse; */

}

th,
td {
  padding: 8px;
  /* border: 1px solid #D1B8A2; */

}

th {
  /* font-size: 12px; */
  font-size: clamp(12px, 2vw, 24px);
  line-height: 1;
  font-weight: 400;
  color: #59342E;
  text-align: left;
  /* width: 30%; */
}

td {
  /* font-size: 12px; */
  font-size: clamp(12px, 2vw, 24px);
  line-height: 1;
  color: #333333;
  text-align: left;
}

td::before {
  content: "";
  /* position: absolute; */
  left: 0;
  top: 10%;
  /* 上から10%の位置に配置 */
  height: 80%;
  /* 線の長さを80%に */
  /* width: 2px; */
  /* background-color: #BF0000; */
  border-left: #e8c2ca 2px solid;
  margin-right: clamp(12px, 2vw, 20px);
}